/*! themes/custom.scss | Bulkit | CSS Ninja */

/* ==========================================================================
Theme override variables
========================================================================== */

/***
TABLE OF CONTENTS
=============================================================================
-1. Font variables
0. Theme color variables
1. Theme gradient
2. Box shadows
3. Pageloader
4. Theme specific Hero
=============================================================================

/* ==========================================================================
0. Font variables
========================================================================== */

// Import a Google Font and set it as the font family
$family-sans-serif: "Muli",
"Lato",
-apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol";

$body-size: 14px;

html {
    font-size: $body-size;

    @include tablet {
        font-size: $body-size;
    }

    @include desktop {
        font-size: $body-size;
    }
}

body {
    font-family: $family-sans-serif;
}



/* ==========================================================================
0. Theme color variables
========================================================================== */
$primary: #033055;
$secondary: #6EBDFF;
$accent: #A1DFFE;

/* ==========================================================================
1. Theme gradient
========================================================================== */
$webkit-hero-gradient: linear-gradient(to bottom right, $secondary, $accent);
$hero-gradient: linear-gradient(to bottom right, $secondary, $accent);

/* ==========================================================================
2. Box shadows
========================================================================== */
//Base shadow
$base-shadow: rgba(0, 0, 0, 0.12);

//Primary box shadow
$primary-shadow-from: rgba(79, 193, 234, 0.42);
$primary-shadow-to: rgba(79, 193, 234, 0.2);
$primary-box-shadow: 0 14px 26px -12px $primary-shadow-from,
0 4px 23px 0px $base-shadow,
0 8px 10px -5px $primary-shadow-to !important;

//Secondary box shadow
$secondary-shadow-from: rgba(25, 104, 252, 0.42);
$secondary-shadow-to: rgba(25, 104, 252, 0.2);
$secondary-box-shadow: 0 14px 26px -12px $secondary-shadow-from,
0 4px 23px 0px $base-shadow,
0 8px 10px -5px $secondary-shadow-to !important;

//Accent box shadow
$accent-shadow-from: rgba(127, 0, 255, 0.42);
$accent-shadow-to: rgba(127, 0, 255, 0.2);
$accent-box-shadow: 0 14px 26px -12px $accent-shadow-from,
0 4px 23px 0px $base-shadow,
0 8px 10px -5px $accent-shadow-to !important;


/* ==========================================================================
3. Pageloader
========================================================================== */
.pageloader {
    background-color: $secondary;
    background: $hero-gradient !important;
}

/* ==========================================================================
4. Theme specific Hero
========================================================================== */
.hero,
.section {
    &.is-theme-secondary {
        background-color: $secondary;
        background: $webkit-hero-gradient;
        background: $hero-gradient;

        .title {
            color: $white;
        }

        .subtitle {
            color: $white;
        }
    }
    .title{
        font-weight: 500 !important;
    }
}


/* ==========================================================================
5. Icon box
========================================================================== */
.how-icon-box {
    i {
        font-size: 3.8rem;
        font-weight: normal;
        color: $secondary;
    }
    .box-title {
        padding: 5px 0;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
        color: $primary;
    }
}

.square-icon-box {
    .box-title {
        font-size: 1.1rem;
        font-weight: 600;
    }
    .box-text {
        font-size: 14px;
    }
}


//Mockup and background positionning
.mockup-section {
    padding: 5rem 1.5rem !important;
    .app-mockup {
        position: relative;
        z-index: 2;
        width: 900px;
        margin-top: 5%;
        border-radius: 4px;
        border: 1px solid #ededed;
        box-shadow: 0 3px 10px 4px rgba(0, 0, 0, 0.04);
        opacity: 1;
    }
    .hr-bg {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: 1096px;
        width: 100%;
        height: 700px;
        z-index: 0;
    }
}



// SLIDER CONTROL
.slide-control {
    div:not(.is-active) {
        button {
            @extend .btn-outlined;
        }
    }
}

.showcase-wrap {
    max-height: 350px;
}



// 
//  SVG ANIMATED
.check-mark-animate {
    svg {
        width: 100px;
        display: block;
        margin: 40px auto 0;
    }

    .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;

        &.circle {
            animation: dash 1.5s ease-in-out;
        }

        &.line {
            stroke-dashoffset: 1000;
            animation: dash 1.5s .35s ease-in-out forwards;
        }

        &.check {
            stroke-dashoffset: -100;
            animation: dash-check 1.5s .35s ease-in-out forwards;
        }
    }

    @-webkit-keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }

    @keyframes dash {
        0% {
            stroke-dashoffset: 1000;
        }

        100% {
            stroke-dashoffset: 0;
        }
    }

    @-webkit-keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }

        100% {
            stroke-dashoffset: 900;
        }
    }

    @keyframes dash-check {
        0% {
            stroke-dashoffset: -100;
        }

        100% {
            stroke-dashoffset: 900;
        }
    }
}